.c9/
.git/
hdb-info-api/
hdb-prediction/
hdb-price-prediction/.serverless/
hdb-price-prediction/node_modules/
hdb-price-prediction/venv/
hdb-price-prediction/.npmignore
hdb-price-prediction/app_bk.py
hdb-price-prediction/*.md
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.*
README.md
resize.sh
